# Core functionality - changes here should be rare!
/src/app.py                   @zoelinsg
/src/backend/database.py      @zoelinsg
/src/backend/routers/auth.py  @zoelinsg

# The frontend will need refactored soon to be more object oriented.
/src/static/   @zoelinsg
